<h1>Liste des types de séjours</h1>
<%= link_to 'Créer un nouveau type de séjour', new_admin_type_sejour_path %>
<table>
	<tr>
		<td>
			intitulé
		</td>
		<td colspan='4'>
			code inchangeable
		</td>
	</tr>
	<% @type_sejours.each do |type_sejour| %>
	<tr>
		<td>
			<%= type_sejour.intitule %>
		</td>
		<td>
			<%= type_sejour.code_inchangeable %>
		</td>
		<td>
			<%#= link_to 'editer', edit_admin_user_droit_path(user_droit) %>
		</td>
		<td>
			<%#= button_to "Supprimer", admin_user_droit_path(user_droit), :method => :delete, :confirm => "La suppression du droit #{user_droit.intitule} donnera le droit par défaut à tous les utilisateurs ayant le droit #{user_droit.intitule}. Voulez-vous continuer" unless user_droit.code_inchangeable == 'mono' || user_droit.code_inchangeable == 'admin' %>
		</td>
	</tr>
	<% end %>
</table>