<h1>Bienvenue sur le site du personnel de saint augustin</h1>

<h3>Merci de vous être connecté à ce site de l’association CENTRE DE VACANCES SAINT
AUGUSTIN</h3><br/> 
<p> 
L’objectif de ce site est de valider votre inscription administrative, et de faire acte de
candidature, tout en nous apportant quelques informations relatives à votre parcours, vos
talents, etc !<br/><br/> 
 
En effet, vous n’etes pas sans savoir que venir à la colonie, à quelque poste que ce soit,
à quelque période que ce soit, quelque soit le type du séjour, engendre obligatoirement
des déclarations que nous devons faire bien avant les séjours, auprès des services de l’Etat
(Jeunesse et sports, direction du travail, URSAFF, MEDERIC, etc…)<br/><br/> 
 
Désormais, votre candidature ne sera examinée et retenue que si votre dossier
administratif informatique est COMPLET.
C’est une exigence non négociable de notre part.<br/><br/> 
 
Dès que ces formalités auront été accomplies, le directeur de chaque séjour validera votre
demande par le moyen de son choix.
</p>