<ul>
	<li><%= link_to 'liste des utilisateurs', [:admin, :users] %></li>
	<li><%= link_to 'liste des droits', [:admin, :user_droits] %></li>
	<li><%= link_to 'liste des types de séjour', [:admin, :type_sejours] %></li>
</ul>